<!DOCTYPE html>
<html>

<head>
  <title>TowerScout v0.4</title>
  <link rel="stylesheet" media="screen and (min-device-width: 1500px)" href="/css/ts_styles.css">
  <link rel="stylesheet" media="screen and (max-device-width: 1499px)" href="/css/ts_styles_mobile.css">
</head>

<body style="margin:0 0 0 0;">

  <div class="grid-container">
    <div id="fatal_div"
      style="display:none;z-index:2000;position:absolute; justify-content:center; align-items: center;top:0px; left:0px;width:100%;height:100%; background-color: lightgrey; opacity: 0.95; color:black">
      <div style="width:30%;height:12%">
        <center>
          Tile limit for this session exceeded. Please close this browser window. \
        </center>
      </div>
    </div>
    <div id="progress_div"
      style="display:none;z-index:2000;position:absolute; justify-content:center; align-items: center;top:0px; left:0px;width:100%;height:100%; background-color: lightgrey; opacity: 0.7;">
      <div style="width:30%;height:12%">
        <progress id="progress" style="width:100%; vertical-align:middle;height:50%" max="100" value="0">
        </progress>
        <br>
        <center>
          <button onclick="cancelRequest()">Cancel</button>
        </center>
      </div>
    </div>
    <div class="fheader">
      TowerScout
    </div>

    <div class="fsearch">
      <div id="mapsearchui" style="display:block;">
        Location:
        <input type="text" id="search" style="width:50%;vertical-align:10%;display:inline;" placeholder="Search ...">
        <span style="float: right;">
          <input type='text' id='radius' style='vertical-align:10%'>&nbsp;km
          <button onclick="circleBoundary()" id="radiusbutton" style="vertical-align:10%;">Circle</button>
        </span>
      </div>
      <div id="uploadsearchui" style="display:none;">
        File:
        <input type="file" id="upload_file" style="width:80%;vertical-align:10%;" placeholder="Upload ...">
      </div>
    </div>

    <div class="fversion" style="text-align: right;">
      Version 0.4
    </div>

    <div class="fmodel" style="font-size:smaller; overflow-y:hidden;white-space: nowrap; overflow-x: hidden;">
      User interface:<br><br>
      <form id="uis" name="uis">
        <input type="radio" id="google" name="uis" value="google" checked>
        <label for="google">Google Maps</label><br>
        <input type="radio" id="bing" name="uis" value="bing">
        <label for="bing">Bing Maps</label><br>
        <input type="radio" id="upload" name="uis" value="upload">
        <label for="upload">Image upload</label><br>
      </form>
      <br>
      Backend map provider:<br>
      <br>
      <form id='providers' name='providers'>
      </form>
      <br>
      Active model:<br>
      <br>
      <form id='engines' name='engines'>
      </form>
    </div>

    <div class="fuploadmodel" id="fuploadmodel" style="overflow-y:hidden;white-space: nowrap; overflow-x: hidden;font-size: smaller;">
      <input type="file" id="upload_model" style="display:none"/> 
      <button class="btn" onclick="document.getElementById('upload_model').click()" style="width:100%; height:100%">Upload model</button>
    </div>


    <!--The div element for the map -->
    <div class="fmap" style="overflow-y:hidden;white-space: nowrap; overflow-x: hidden;">
      <div id="googleMap" style="display:block"></div>
      <div id="bingMap" style="display:none"></div>
      <div id="uploadMap" style="display:none; overflow-y:scroll">
        <img id="canvas" style="width:100%;">
      </div>
    </div>

    <div class="fdetect" id="fdetect" style="font-size: smaller;">
      <button class="btn" style='width:100%' onclick='getObjects()'>Find towers</button><br><br>
      Min. Confidence:&nbsp;<input type="range" min="5" max="60" value="35" class="slider" id="conf" 
        style="vertical-align:-25%; width:60%">
      &nbsp;<span style="float:right">&nbsp;%</span><span id='confpercent' style="float:right">35</span>
    </div>

    <div class="ftowers" id="ftowers"
      style="overflow-y: hidden;font-size: smaller;">
      <!-- Objects detected:<br>
      <br> -->
      <p id="checkBoxes" 
      style="margin: 0px; overflow-y:scroll; width:100%; height:100%;white-space: nowrap; overflow-x: hidden;font-size:smaller;">
    </p>
    </div>

    <div class="fsave" id="fsave" style="overflow-y:hidden;white-space: nowrap; overflow-x: hidden;font-size: smaller;">
      <button class="btn" onclick="download_csv(),download_kml()" style="width:100%; height:100%">Download results</button>
    </div>

    <div class="ftext">
      <p id="output"
        style="margin: 0px; overflow-y:scroll; width:100%; height:100%; white-space: nowrap; overflow-x: hidden;font-size:smaller;">
      </p>
    </div>
  </div>



  <script src="/js/jquery-3.5.1.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{google_map_key}}&callback=initGoogleMap&libraries=places&v=weekly"
    defer>
    </script>
  <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=initBingMap&key={{bing_map_key}}'
    async defer>
    </script>
  <script>
    let gak = "{{google_map_key}}";
    let bak = "{{bing_map_key}}";
  </script>
  <script src="/js/towerscout.js"></script>
</body>

</html>